# Visual Studio
.vscode/
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.ncb
*.user
*.pdb
*.opendb
*.tlog
*.obj
*.exe
*.log
*.ipch
*.aps
*.ilk
*.idb
*.class
*.sdf
*.sqlite
*.pfx
*.publishsettings
*.resharper
*.dbmdl
*.log
*.sln.docstates

# Build results
Debug/
Release/
x64/
build/
*.dll
*.lib
*.o

# Other
*.class
*.pyc
*.pyo
*.sln
*.out
*.tmp
*.cache


# Ignorar archivos y carpetas específicos de Visual Studio
.vs/
*.suo
*.db
*.ipch
*.obj
*.pdb
*.exe
*.log
*.ilk
*.idb
*.tlog
*.user
*.o